<!DOCTYPE html>
<html>

<head>
  <title>Stock Price Checker</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/public/styles.css" type="text/css" />
</head>

<body>
  <header class="flex">
    <h1>
      Nasdaq Stock Price <span>Checker</span>
    </h1>
  </header>
  <main class="flex">
    <div class="flex-col" id='testui'>
      <h3>Get Single Price and Total Likes</h3>
      <form id="testForm2" class="flex-col">
        <input type="text" name="stock" placeholder="goog" required=''>
        <div class="checkBox">
          <input type="checkbox" id="like" name="like" value=true>
          <label for="like">Like?</label>
        </div>
        <button type="submit">Get Price!</button>
      </form>
      <h3>Compare and Get Relative Likes</h3>
      <form id="testForm" class="flex-col">
        <input type="text" name="stock" placeholder="goog" required=''>
        <input type="text" name="stock" placeholder="msft" required=''>
        <div class="checkBox">
          <input type="checkbox" id="likeBoth" name="like" value=true>
          <label for="likeBoth">Like Both?</label>
        </div>
        <button type="submit">Get Price!</button>
      </form>
    </div>
    <code id='jsonResult'></code>
    <div class="flex" id="userStoriesContainer">
      <div id='userstories'>
        <h4>Example Usage:</h4>
        <code>/api/stock-prices?stock=goog</code><br>
        <code>/api/stock-prices?stock=goog&amp;like=true</code><br>
        <code>/api/stock-prices?stock=goog&amp;stock=msft</code><br>
        <code>/api/stock-prices?stock=goog&amp;stock=msft&amp;like=true</code><br>
        <h4>Example Return:</h4>
        <code>{"stockData":{"stock":"GOOG","price":786.90,"likes":1}}</code><br>
        <code>{"stockData":[{"stock":"MSFT","price":62.30,"rel_likes":-1},</code>
        <code>{"stock":"GOOG","price":786.90,"rel_likes":1}]}</code>
      </div>

    </div>
  </main>
  <!-- Your web-app is https, so your scripts need to be too -->
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
    integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
  <script>
    $(function () {
      $('#testForm').submit(function (e) {
        $.ajax({
          url: '/api/stock-prices',
          type: 'get',
          data: $('#testForm').serializeArray(),
          success: function (data) {
            $('#jsonResult').text(JSON.stringify(data));
          }
        });
        e.preventDefault();
      });
      $('#testForm2').submit(function (e) {
        $.ajax({
          url: '/api/stock-prices',
          type: 'get',
          data: $('#testForm2').serializeArray(),
          success: function (data) {
            $('#jsonResult').text(JSON.stringify(data));
          }
        });
        e.preventDefault();
      });
    });;
  </script>
</body>

</html>