:root {
  --dark-blue: #253655;
  --blue: #37517e;
  --light-blue: #00b9ff;
  --white: #ffffff;
  --accent-green: #28b862;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 140vh;
  color: var(--white);
  font-size: 10px;
  font-family: Helvetica;
}

body {
  background-color: var(--dark-blue);
}

body header {
  height: 7rem;
  background-color: var(--blue);
}

body header h1 {
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
}

body header h1 span {
  color: var(--light-blue);
}

body main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4rem;
}

body main #testui {
  width: 55%;
  margin-bottom: 5rem;
  padding: 4rem 6rem 7rem 6rem;
  background-color: var(--blue);
  border-radius: 5px;
  -webkit-box-shadow: 0 13px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 13px 10px rgba(0, 0, 0, 0.2);
}

body main #testui h2 {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin: 2rem 0 5rem 0;
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: 0.07rem;
}

body main #testui h2 #h2-underline {
  padding-bottom: 0.2rem;
  border-bottom: 2px solid white;
}

body main #testui h2 span:last-of-type {
  color: var(--light-blue);
}

body main #testui h3 {
  margin: 1.5rem 0 3.5rem 0rem;
  font-size: 2.7rem;
  font-weight: normal;
}

body main #testui form {
  width: 20rem;
}

body main #testui form input[type="text"] {
  width: 14rem;
  padding: 0.7rem 0.7rem;
  border: none;
  border-radius: 3px;
  font-size: 1.5rem;
}

body main #testui form input[type="text"]:focus {
  outline: none;
}

body main #testui form .checkBox {
  margin-top: -0.3rem;
  margin-bottom: 1.2rem;
  padding: 0.2rem 0.7rem;
}

body main #testui form .checkBox input[type="checkbox"] {
  margin-bottom: 1rem;
}

body main #testui form .checkBox span {
  position: relative;
  left: 0.6rem;
  bottom: 0.16rem;
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 0.04rem;
}

body main #testui form button {
  margin-bottom: 3rem;
  padding: 0.6rem 1.2rem;
  border: none;
  border: 1px solid #2ed06e;
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  color: inherit;
  background-color: var(--accent-green);
  letter-spacing: 0.1rem;
  cursor: pointer;
}

body main #testui form button:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

body main #testui #testForm2 {
  margin-bottom: 3rem;
}

body main #testui #testForm2 input[type="text"]:first-of-type {
  margin-bottom: 2.5rem;
}

body main #testui #testForm input[type="text"]:first-of-type {
  margin-bottom: 0.9rem;
}

body main #testui #testForm input[type="text"]:last-of-type {
  margin-bottom: 2.5rem;
}

body main #jsonResult {
  height: 6rem;
  width: 70%;
  margin: 1rem 0 5rem 0;
  padding: 2rem 0;
  font-size: 1.5rem;
  text-align: center;
}

body main #userStoriesContainer #userstories {
  width: 65%;
  margin-top: 4rem;
}

body main #userStoriesContainer #userstories h4 {
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: normal;
}

body main #userStoriesContainer #userstories h4:last-of-type {
  margin-top: 10rem;
}

body main #userStoriesContainer #userstories code {
  display: inline-block;
  margin: 0.5rem;
  padding-left: 7rem;
  font-size: 1.5rem;
  letter-spacing: 0.07rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=styles.css.map */