:root {
  --dark-blue: #253655;
  --blue: #37517e;
  --light-blue: #00b9ff;
  --white: #ffffff;
  --accent-green: #28b862;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 140vh;
  color: var(--white);
  font-size: 10px;
  font-family: Helvetica;
}

body {
  background-color: var(--blue);
}

body header {
  height: 7rem;
  background-color: var(--dark-blue);
}

body header h1 {
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
}

body header h1 span {
  color: var(--light-blue);
}

body main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4rem;
}

body main h2 {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin: 2rem 0 3.2rem 0;
  font-size: 3.5rem;
  letter-spacing: 0.07rem;
}

body main h2 span {
  color: var(--light-blue);
}

body main #testui {
  width: 45%;
}

body main #testui h4 {
  margin: 1.5rem 0 3rem 1.5rem;
  font-size: 2.7rem;
  font-weight: normal;
}

body main #testui form {
  width: 20rem;
}

body main #testui form input[type="text"] {
  width: 10rem;
  margin-bottom: 1.5rem;
  padding: 0.2rem 0.7rem;
}

body main #testui form span {
  font-size: 1.2rem;
}

body main #testui form button {
  margin-bottom: 2rem;
  padding: 0.2rem 0.7rem;
  border: none;
  border: 1px solid #2ed06e;
  color: inherit;
  background-color: var(--accent-green);
}

body main #testui #testForm2 div input[type="checkbox"] {
  position: relative;
  top: 0.2rem;
  left: 1rem;
}

body main #testui #testForm2 div span {
  position: relative;
  top: 0.01rem;
  left: 1.3rem;
  bottom: 0.2rem;
}

body main #testui #testForm2 button {
  margin-top: 0.6rem;
}

body main #testui #testForm div {
  margin-bottom: 1.2rem;
  padding: 0.2rem 0.7rem;
}

body main #testui #testForm div input[type="checkbox"] {
  margin-bottom: 0.5rem;
}

body main #testui #testForm div span {
  position: relative;
  left: 0.4rem;
  bottom: 0.2rem;
}

body main #jsonResult {
  height: 6rem;
  width: 70%;
  margin-top: 1rem;
  padding: 2rem 0;
  text-align: center;
}

body main #userStoriesContainer #userstories {
  width: 65%;
  margin-top: 4rem;
}

body main #userStoriesContainer #userstories h3 {
  margin: 2rem 0;
  font-size: 2rem;
}

body main #userStoriesContainer #userstories h3:last-of-type {
  margin-top: 10rem;
}

body main #userStoriesContainer #userstories code {
  display: inline-block;
  margin: 0.5rem;
  padding-left: 7rem;
  font-size: 1.3rem;
  letter-spacing: 0.07rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=styles.css.map */